
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.cxleft {
text-align : left;
}

/* css layer popup */


.cxlayerpopbutton {
  /* font-size: 1em; */
  /* padding: 10px; */
  /* color: #fff; */
  /* border: 2px solid #06D85F; */
  /* border-radius: 20px/50px; */
  text-decoration: none;
  list-style: none;
  /* cursor: pointer; */
  transition: all 0.3s ease-out;
}
.cxlayerpopbutton:hover {
  background: #e52149;
}

.cxoverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.cxoverlay:target {
  visibility: visible;
  opacity: 1;
}

.cxpopup {
  margin: 70px auto;
  padding: 20px;
  background: #161f36;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.cxhead {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}

.cxpopup h2 {
  margin-top: 0;
  color: #fff;
  font-family: Tahoma, Arial, sans-serif;
}
.cxpopup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  /* color: #fffffff; */
}
.cxpopup .close:hover {
  /* color: #06D85F; */
  color: red;
}
.cxpopup .content {
  font-family: 'Open Sans', sans-serif;
  max-height: 30%;
  overflow: auto;
  background: #161f36;

}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .cxpopup{
    width: 70%;
  }
}

/* end */

/* css layer popup nesting */
.cxcallagentlayer {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
}

.cxcallagentlayer ul,
.cxcallagentlayer ul li,
.cxcallagentlayer ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cxcallagentlayer ul {
  position: relative;
  z-index: 500;
  float: left;
}

.cxcallagentlayer ul li {
  float: left;
  min-height: 0.05em;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
}

.cxcallagentlayer ul li.hover,
.cxcallagentlayer ul li:hover {
  position: relative;
  z-index: 510;
  cursor: default;
  background: #e52149;
}

.cxcallagentlayer ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 520;
  width: 100%;

}

.cxcallagentlayer ul ul li { float: none; }

.cxcallagentlayer ul ul ul {
  top: 0;
  right: 0;
}

.cxcallagentlayer ul li:hover > ul { visibility: visible; }

.cxcallagentlayer ul ul {
  top: 0;
  left: 99%;
}

.cxcallagentlayer ul li { float: none; }

.cxcallagentlayer ul ul { margin-top: 0.05em; }

.cxcallagentlayer {
  width: 13em;
  /* background: #333333; */
  /* background: #e52149; */
  /* font-family: 'roboto', Tahoma, Arial, sans-serif; */
  font-family: 'Open Sans', sans-serif;
  /* zoom: 1; */
}

.cxcallagentlayer:before {
  content: '';
  display: block;
}

.cxcallagentlayer:after {
  content: '';
  display: table;
  clear: both;
}

.cxcallagentlayer a {
  display: block;
  padding: 1em 1.3em;
  /* color: #ffffff; */
  text-decoration: none;
  /* text-transform: uppercase; */
}

.cxcallagentlayer > ul { width: 8em; }

.cxcallagentlayer ul ul { width: 11em; }

.cxcallagentlayer > ul > li > a {
  /* border-right: 0.3em solid #34A65F; */
  color: #ffffff;
}

.cxcallagentlayer > ul > li > a:hover { color: #ffffff; }

.cxcallagentlayer > ul > li a:hover,
.cxcallagentlayer > ul > li:hover a { /* background: #34A65F; */ }

.cxcallagentlayer li { position: relative; }

.cxcallagentlayer ul li.has-sub > a:after {
  content: '»';
  position: absolute;
  right: 1em;
}

.cxcallagentlayer ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}

.cxcallagentlayer ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}

.cxcallagentlayer ul ul {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.cxcallagentlayer ul ul { /* border: 1px solid #34A65F; */ }

.cxcallagentlayer ul ul a { color: #ffffff; }

.cxcallagentlayer ul ul a:hover { color: #ffffff; }

.cxcallagentlayer ul ul li { border-bottom: 1px solid #0F8A5F; }

.cxcallagentlayer ul ul li:hover > a {
  background: #26b7cd;
  color: #ffffff;
}

.cxcallagentlayer.align-right > ul > li > a {
  /* border-left: 0.3em solid #34A65F; */
  border-right: none;
}

.cxcallagentlayer.align-right { float: right; }

.cxcallagentlayer.align-right li { text-align: right; }

.cxcallagentlayer.align-right ul li.has-sub > a:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}

.cxcallagentlayer.align-right ul li.has-sub > a:after { content: none; }

.cxcallagentlayer.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100%;
}

.cxcallagentlayer.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}

.cxcallagentlayer.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}

.cxcallagentlayer.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
/* end -- css layer popup nesting */
