/*==================  Stuck menu  ======================*/
@stuck-bg: #20201f;
@stuck-bc: #555;

.stuck_container {
	// padding: 10px 0;
}

.isStuck {
  z-index: 999;
  box-shadow: 0 1px 2px #bbb;
  .background(@stuck-bg, 0.95);
  .navbar-header{
    margin-left: 20px;
    margin-top: 15px;
  }
  .navbar-brand{
    padding-left: 68px;
    font-size: 36px;
    &:before{
      font-size: 50px;
      top: -7px;
    }
    &:after{
      height: 45px;
      left: 54px;
    }
    small{
      margin-top: -5px;
    }
  }
  .navbar-nav{
    >li{
      >a{
        padding: 20px 18px 20px;
      }
    }
  }
  .search-form_toggle{
    top: -62px;
  }
}

@media only screen and (max-width: 992px) {
  .isStuck {
    display: none !important;
  }
}

.isStuck .sf-menu ul{
	top: 64px;
}

.isStuck .sf-menu ul ul{
	top: 0;
}