//
// Navbars
// --------------------------------------------------

// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  position: relative;
  min-height: 47px; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
  margin-bottom: 0;

  // Prevent floats from breaking the navbar
  &:extend(.clearfix all);

  @media (min-width: @grid-float-breakpoint) {
    border-radius: 0;
  }
}

//
// Navbar alignment options
//
// Display the navbar across the entirety of the page or fixed it to the top or
// bottom of the page.

// Static top (unfixed, but 100% wide) navbar
.navbar-static-top {
  z-index: @zindex-navbar;
  // border-width: 0 0 1px;

  @media (min-width: @grid-float-breakpoint) {
    border-radius: 0;
  }
}

// Fix the top/bottom navbars when screen real estate supports it
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: @zindex-navbar-fixed;

  // Undo the rounded corners
  @media (min-width: @grid-float-breakpoint) {
    border-radius: 0;
  }
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0; // override .navbar defaults
  border-width: 1px 0 0;
}

// Navbar heading
//
// Groups `.navbar-brand` and `.navbar-toggle` into a single component for easy
// styling of responsive aspects.

.navbar-header {
  &:extend(.clearfix all);
  margin-top: 20px;
  margin-left: 58px;
  @media (min-width: @grid-float-breakpoint) {
    float: left;
  }
  @media (max-width: 991px){
    margin-left: 20px;
    margin-top: 30px;
  }
}

// Brand/project name

.navbar-brand {
  // float: left;
  padding-left: 73px;
  position: relative;
  &:before {
    content: "\f0ac";
    position: absolute;
    left: 0px;
    top: 2px;
    font-family: @fa;
    font-size: 59px;
  }
  &:after {
    content: "";
    position: absolute;
    left: 57px;
    top: 0px;
    width: 1px;
    height: 74px;
    background: @brand-primary;
  }
  a {
    &:hover,
    &:focus {
      color: @navbar-default-brand-hover-color;
      text-decoration: none;
    }
  }
  @media (max-width: 991px){
    padding-left: 68px;
    &:before{
      font-size: 50px;
      top: -7px;
    }
    &:after{
      height: 45px;
      left: 54px;
    }
  }
}

// Navbar nav links
//
// Builds on top of the `.nav` components with its own modifier class to make
// the nav the full height of the horizontal nav (above 768px).

.navbar-nav {
  &:extend(.clearfix all);

  // Uncollapse the nav
  @media (min-width: @grid-float-breakpoint) {
    margin: 0;
    display: inline-block;
    margin-left: 106px;
    font-family: @font-family-base;
    font-size: 18px;
    font-weight: 400;

    > li {
      float: left;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 50%;
        right: 50%;
        top: 0px;
        height: 4px;
        background: @brand-primary;
        .transition(.3s);
        z-index: 1;
      }
      > a {
        padding: 47px 21.3px 22px;
        display: block;
        position: relative;
        span{
          position: relative;
          z-index: 1;
        }
        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          //bottom: 0;
          height: 0;
          background: @navbar-default-link-hover-bg;
          z-index: 0;
          .transition(.4s);
        }

        @media (max-width: @grid-float-breakpoint-max) {
          padding-top: 10px;
          padding-bottom: 10px;
          font-style: italic;
        }

        &:hover {

        }
        @media (max-width: 991px){
          padding: 47px 14px 43px;
        }
      }
      &.active {
        &:before {
          left: 0;
          right: 0;
        }
      }
      &.active > a,
      &.sfHover > a {
      }
    }
  }
  @media (max-width: 1199px) {
    margin-left: 40px;
  }
  @media (max-width: 991px){
    margin-left: 30px;
  }
}

// Component alignment
//
// Repurpose the pull utilities as their own navbar utilities to avoid specificity
// issues with parents and chaining. Only do this when the navbar is uncollapsed
// though so that navbar contents properly stack and align in mobile.
//
// Declared after the navbar components to ensure more specificity on the margins.

@media (min-width: @grid-float-breakpoint) {
  .navbar-left {
    .pull-left();
  }

  .navbar-right {
    .pull-right();
    // margin-right: -@navbar-padding-horizontal;
    margin-right: 0;

    ~ .navbar-right {
      margin-right: 0;
    }
  }
}

// Alternate navbars
// --------------------------------------------------

// Default navbar
.navbar-default {
  background-color: @navbar-default-bg;
  border-color: @navbar-default-border;

  .navbar-brand {
    color: @navbar-default-brand-color;
    &:hover,
    &:focus {
      color: @navbar-default-brand-hover-color;
      background-color: @navbar-default-brand-hover-bg;
    }
  }

  .navbar-nav {
    > li > a {
      color: @navbar-default-link-color;

      &:focus {
        color: @navbar-default-link-color;
      }

      &:hover {
        color: @navbar-default-link-hover-color;
        .background(@navbar-default-link-hover-bg,0.5);
        &:before{
          //bottom: 0;
          height: 100%;
        }
      }
      // &:focus{
      //  background-color: @navbar-default-bg;
      // }
    }
    > .sfHover {
      //background-color: @navbar-default-link-active-bg;
      >a{
        &:before{
          //bottom: 0;
          height: 100%;
        }
      }
    }
    > .active > a,
    > .sfHover > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-default-link-active-color;
        //background-color: @navbar-default-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-default-link-disabled-color;
        background-color: @navbar-default-link-disabled-bg;
      }
    }
  }
}

// Inverse navbar

.navbar-inverse {
  background-color: @navbar-inverse-bg;
  border-color: @navbar-inverse-border;

  .navbar-brand {
    color: @navbar-inverse-brand-color;
    &:hover,
    &:focus {
      color: @navbar-inverse-brand-hover-color;
      background-color: @navbar-inverse-brand-hover-bg;
    }
  }

  .navbar-text {
    color: @navbar-inverse-color;
  }

  .navbar-nav {
    > li > a {
      color: @navbar-inverse-link-color;

      &:hover,
      &:focus {
        color: @navbar-inverse-link-hover-color;
        background-color: @navbar-inverse-link-hover-bg;
      }
    }
    > .active > a,
    > .sfHover > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-inverse-link-active-color;
        background-color: @navbar-inverse-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-inverse-link-disabled-color;
        background-color: @navbar-inverse-link-disabled-bg;
      }
    }
  }
}

// ------------------------------------
// To show only _navbar 
//-------------------------------------
@media (max-width: 767px) {
  .navbar {
    display: none;
  }
}